
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  padding:  10px;
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.nav a {
  color: #d4cece;
  text-decoration: none;
  margin-left: 20px;
}

.sidebar {
  width: 200px;
  background: #fff7f7;
  padding: 15px;
  height: calc(100vh - 50px);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
  font-size: 18px;
}

.main-layout {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.section-title {
  text-align: center;
  margin: 30px 0 10px;
}

.videos,
.games {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

iframe {
  width: 300px;
  height: 170px;
  border: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    margin-top: 10px;
  }

  .nav a {
    display: block;
    margin: 10px 0;
  }

  .search-bar {
    width: 100%;
    padding: 10px 0;
  }

  .search-bar input {
    width: 90%;
  }

  .main-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .sidebar li {
    font-size: 16px;
    margin: 10px 0;
  }

  .videos,
  .games {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  iframe {
    width: 90%;
    height: 200px;
  }
}
